<div class="main">
  <div class="menu-horizontal">
    <ul>
      <li><a href="#" routerLink="/angular2">Back To Tables</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Company</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>

  <div class='wrapper'>
    <input id='home' type='checkbox'>
    <label for='home'>
      <p>Home</p>
      <div class='arrow'></div>
      <div class='submenu'>
        <ul>
          <li>
            <a href='#'>Your Home</a>
          </li>
          <li>
            <a href='#'>My Home</a>
          </li>
          <li>
            <a href='#'>Our Home</a>
          </li>
        </ul>
      </div>

    </label>
    <input id='products' type='checkbox'>
    <label for='products'>
      <p>Products</p>
      <div class='arrow'></div>
      <div class='submenu'>
        <ul>
          <li>
            <a href='#'>Your products</a>
          </li>
          <li>
            <a href='#'>My products</a>
          </li>
          <li>
            <a href='#'>Their products</a>
          </li>
        </ul>
      </div>

    </label>
    <input id='company' type='checkbox'>
    <label for='company'>
      <p>Company</p>
      <div class='arrow'></div>
      <div class='submenu'>
        <ul>
          <li>
            <a href='#'>Company</a>
          </li>
          <li>
            <a href='#'>Company 1</a>
          </li>
          <li>
            <a href='#'>Someting Company</a>
          </li>
        </ul>
      </div>

    </label>
    <input id='blog' type='checkbox'>
    <label for='blog'>
      <p>Blog</p>
      <div class='arrow'></div>
      <div class='submenu'>
        <ul>
          <li>
            <a href='#'>New Blog</a>
          </li>
          <li>
            <a href='#'>Best Blog</a>
          </li>
          <li>
            <a href='#'>Blog</a>
          </li>
        </ul>
      </div>
    </label>
    <input id='gallery' type='checkbox'>
    <label for='gallery'>
      <p>Gallery</p>
      <div class='arrow'></div>
      <div class='submenu'>
        <ul>
          <li>
            <a href='#'>My Gallery</a>
          </li>
          <li>
            <a href='#'>Best Gallery</a>
          </li>
          <li>
            <a href='#'>Something Gallery</a>
          </li>
        </ul>
      </div>

    </label>
  </div>
  <div class="content">
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Ukraine</a></li>
      <li>Country</li>
    </ul>
    <div class="content-wrapper">
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" >
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" >
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" >
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" >
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" >
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/Hd.jpg" alt="Norway">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" >
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div> <div class="responsive">
      <div class="gallery-img">
        <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div> <div class="responsive">
      <div class="gallery-img">
        <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
        <div class="desc">Add a description of the image here</div>
      </div>
    </div> <div class="responsive">
      <div class="gallery-img">
        <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
        <div class="desc">Add a description of the image here</div>
      </div>
    </div> <div class="responsive">
      <div class="gallery-img">
        <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
      <div class="responsive">
        <div class="gallery-img">
          <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
          <div class="desc">Add a description of the image here</div>
        </div>
      </div> <div class="responsive">
      <div class="gallery-img">
        <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
        <div class="desc">Add a description of the image here</div>
      </div>
    </div> <div class="responsive">
      <div class="gallery-img">
        <img src="../../assets/img_mountains.jpg" alt="Norway" width="300" height="200">
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>









    </div>

  </div>
</div>
